* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../image/bg.jpg);
  background-size: cover;

}

ul {
  width: 1020px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

ul li {
  display: inline-block;
  color: white;
}

ul {
  text-align: center;
}

h1 {
  width: 1020px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  color: #cfa205;
  background-color: black;
  text-align: center;
  font-size: 133px;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  width: 1020px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #cfa206;
  background-color: black;
  font-size: 18px;
}

#logo {
  background-color: #e8e8e8;
}

i {
    color: rgb(88, 89, 88);
    margin: 22px 10px;
}

main {
  width: 1020px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#intro {
  font-size: 18px;
  color: #7a7a7a;
  border-bottom: solid;
  border-width: thin;
  width: 900px;
  height: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
    width: 260px;
    height: 195px;
}

section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

article {
  width: 260px;
  display: inline-block;
}

section > article:first-child {
  margin-right: 54.5px;
}

article:nth-child(2){
  margin-right: 54.5px;
}

p {
    width:260px;
}

h4 {
    width:260px;
}
